.welcome-page {
    width: 360px;
    padding: 15% 0 0;
    margin: auto;
    font-size: 25px;
}

body {
    margin: 0;
}

.card1 {
    background-color: #328f8a;
    height: 100%;
}

h1 {
    text-shadow: 2px 2px 8px #a4db0b;
    text-align: center; 
    padding-top: 2%; 
    color:black;
}